<% provide(:title, t('.metatitle')) %>

<%= image_tag(current_merchant.product_image.url, class: 'center-block') %>

<div class="text-center" style="padding-top: 30px">
	<p class="lead">
		<% if current_merchant.subscription_templates.count > 0 %>
			<%= t('.payment_description', amount_gbp: current_merchant.payment_templates.first.amount_gbp, amount_eur: current_merchant.payment_templates.first.amount_eur, days: (current_merchant.payment_templates.first.charge_date < 10 ? 5 : current_merchant.payment_templates.first.charge_date)) %>
		<% end %><br/>
		<% if current_merchant.subscription_templates.count > 0 %>
			<%= t('.subscription_description', amount_gbp: current_merchant.subscription_templates.first.amount_gbp, amount_eur: current_merchant.subscription_templates.first.amount_eur, interval: current_merchant.subscription_templates.first.interval.to_s, interval_unit: t('.' + current_merchant.subscription_templates.first.interval_unit[0..-3]) + (current_merchant.subscription_templates.first.interval > 1 ? 's' : '')) %>
		<% end %>
	</p>
	<%= link_to t('.cta_white_label'), new_customer_path(current_merchant.admin.slug, current_merchant.slug), class: 'btn btn-lg btn-primary pop' %>
</div>
